.App{
  display: flex;
  flex-direction: column;
}
.otp{
  display: flex;
  flex-direction: row;
}
input{
  width: 5vmin;
  height: 5vmin;
  margin: 1vmin;
}
.button{
  margin: 2vmin;
  border: 0.5vmin solid black;
  text-align: center;
  width: 10%;
}
